@media (max-width: 768px) {
  .container {
    padding: 3rem;
  }

  .mob_main_container {
    padding: 10px !important;
  }

  .canvas_mobile {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }

  .mob-div {
    display: flex !important;
    width: 95% !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .wrap-mob {
    flex-wrap: wrap!important;
    justify-content: center!important;
  }

  .col-mob {
    display: flex !important;
    flex-direction: column !important;
  }

  .form-input {
    width: 100%;
  }

  .btn-group {
    flex-direction: column;
    gap: 1rem;
  }

  #priceChart {
    min-height: 30vh;
  }
}